# Comment out during development
url: "https://richdom2185.github.io" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "/blog" # the subpath of your site, e.g. /blog
title: "Richard's Blog" # the name of your site, e.g. ACME Corp.
author: Richard Dominick
remote_theme: RichDom2185/jekyll-blog-theme@2023.0-rc.1

permalink: /:year/:month/:title

exclude:
  # Inherited from the default exclude list at
  # https://jekyllrb.com/docs/configuration/default/
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  # Own additional files to exclude
  - README.md

defaults:
  - scope:
      path: "_posts"
    values:
      layout: post

plugins:
  - jemoji
  - jekyll-github-metadata
  - jekyll-remote-theme
